.ts-seat {
    height: 200px;
    color: #fff;
    font-size: 4rem;
    text-decoration: none;
}

.ts-seat:hover {
    color: #fff;
    opacity: .9;
}

.available-seat {
    background-color: green;
}

.unavailable-seat {
    background-color: red;
}