header {
    background-image: url("../images/home_bg.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(61, 73, 68, 0.97);
    box-shadow: 0px 5px 6px 0px rgba(61, 73, 68, 0.97);
}

#htu-menu {
    /* To override the default styling */
    list-style: none;
    padding: 0;
    /* End overriding */
    display: flex;
    align-items: center;
}

#htu-menu li {
    margin-right: 2rem;
}

#htu-menu a {
    text-decoration: none;
    color: #3f4040;
    font-size: 140%;
    transition: opacity .5s;
}

#htu-menu a:hover {
    opacity: .5;
}

#htu-hero {
    height: 70vh;
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
}

#htu-hero-content-wrapper {
    width: 100%;
    height: 50%;
    background-color: #f8f8f8e3;
    -webkit-box-shadow: 0px 0px 21px 10px rgba(46, 46, 46, 0.97);
    box-shadow: 0px 0px 21px 10px rgba(46, 46, 46, 0.97);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#htu-slogan {
    margin: 0;
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 4px;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

form#htu-search {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#htu-search label {
    display: none;
}

#htu-search-input {
    width: 70%;
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 20px;
    border: 2px solid #808080a1;
}

form#htu-search button {
    border: none;
    background-color: transparent;
    margin: -5%
}

form#htu-search button:hover {
    opacity: .7;
    cursor: pointer;
}

form#htu-search i {
    font-size: 150%;
}